.login-block{
	width: 300px;
	height: 250px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -150px;
    background-color: #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}

body{
	background-color: #272822;
}

.registration-block{
	width: 300px;
	height: 300px;
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -110px 0 0 -150px;
    background-color: #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
}